* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: Raleway,sans-serif;
  font-weight: 600;
}

img{
  max-width: 100%;
}

.header-icon img {
  max-width: 120px;
  margin: 1em auto;
}

.header-title {
  margin: 1em auto;
}

.featured-work-title {
  color: #c2c2a3;
}

.featured-work-container figure {
  padding: 1em 0;
}

.featured-work-container  figcaption {
  font-size: 14pt;
}

/*
  For MOBILE DEVICES
*/
@media screen and (max-width: 768px) {
  .header-icon, .header-icon * {
    display: none;
  }

  .header-title, .header-title * {
    text-align: center;
  }
}

/*
  For larger screens
  */
@media screen and (min-width: 768px) {
  .header-title, .header-title * {
    text-align: right;
  }

  .header-icon, .header-icon *{
    display: inline;
  }
}

/*
  For Desktops
  */
@media screen and (min-width:900px) {
  body{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
  }
}
